{% extends 'base.html.twig' %}

{% block title %}Véhicloc - acceuil Admin
{% endblock %}
{% block header%}
	<div class="flex-header">
		<div>
			<h1>Location de voitures à Saint-Étienne</h1>
			<p>Un service de location de voitures au mois pour répondre à vos besoins de mobilité.</p>
		</div>
		<div>
			<img src="{{ asset('styles/img/car.png')}}" alt="Voiture">
		</div>
	</div>
{% endblock %}
{% block action %}{% endblock %}
{% block body %}
	<div class="flex-header">
		<div>
			<a href="{{path('app_admin_car')}}" class="btn-nav">Lien vers les voitures</a>
		</div>
		<div>
			<a href="#" class="btn-nav">Lien vers les users</a>
		</div>
	</div>
{% endblock %}
{% block promise%}
	<section id="promises">
		<div>
			<h2>La promesse Véhicloc</h2>
			<div class="promise">
				<img src="{{asset('styles/icons/insurance.png')}}" alt="Assurance et Assistance">
				<div class="promise-text">
					<h3>Assurance et Assistance</h3>
					<p>Votre tranquillité d'esprit est notre priorité. Toutes nos locations mensuelles incluent une assurance complète et une assistance routière, pour garantir une conduite en toute sécurité.</p>
				</div>
			</div>
			<div class="promise">
				<img src="{{asset('styles/icons/booking.png')}}" alt="Réservation facile">
				<div class="promise-text">
					<h3>Réservation facile</h3>
					<p>Notre plateforme vous permet de réserver votre voiture en quelques clics. Sélectionnez vos dates, choisissez le modèle qui vous convient et finalisez votre réservation en un rien de temps.</p>
				</div>
			</div>
		</div>
		<div>
			<img src="{{asset('styles/img/promise.png')}}" alt="La promesse Véhicloc">
		</div>
	</section>
{% endblock %}
